@font-face {
    font-family: XiaoWei;
    src: url("src/ZCOOLXiaoWei-Regular.ttf");
}

body {
    background-color: black;
    background-repeat: no-repeat;
    font-family: XiaoWei;
    color: #ffffff;
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    width: 35.5rem;
    object-fit: cover;
}

/* The navigation menu div*/
.nav {
    display: flex;
    margin-top: 1rem;
    margin-left: 10%;
}

/* The navigation menu links */
.btn {
    padding: 6px 6px;
    font-size: 30px;
}

button {
    background-color: black;
    color: white;
    font-family: XiaoWei;
    border: none;
    position: relative;
    border: none;
    height: 2.5rem;
    width: max-content;
    font-size: 18px;
    justify-self: center;
}

button:hover {
    background-color: #d4af37;
}

#home {
    display: inline-block;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    color: #ffffff;
}

#home p {
    text-align: justify;
}

#load {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

#load p {
    text-align: justify;
    word-spacing: -2px;
    justify-self: center;
}

.pastry-item {
    text-align: center;
    padding: .5rem;
    width: 30rem;
    height: 30rem;
    display: inline-grid;
    margin: 1rem 2rem;
    color: #ffffff;
}

.item-image {
    justify-self: center;
    height: 16rem;
    width: 25rem;
    object-fit: fill;
    border: grey solid 2px;
}

.cart-item {
    text-align: center;
    border: grey solid 1px;
    padding: .5rem;
    width: 14rem;
    height: 20rem;
    display: inline-grid;
    margin: 1rem 1rem;
    color: #ffffff;
}

.cart-img {
    justify-self: center;
    width: 14rem;
}

#form-container {
    display: block;
    text-align: center;
}

#checkout-form {
    text-align: center;
    justify-self: center;

}