@font-face {
    font-family: XiaoWei;
    src: url("src/ZCOOLXiaoWei-Regular.ttf");
}

body {
    background-color: black;
    font-family: XiaoWei;
    color: #ffffff;
    margin-left: 10%;
    margin-right: 10%;
}

.buffer {
    padding: 1rem;
}

.head {
    background-image: linear-gradient(#3a3a3a, #141414, #000000);
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 7rem;
    width: 35.5rem;
    object-fit: cover;
}

/* The navigation menu div*/
.nav {
    position: relative;
    overflow: hidden;
    background-color: #000000;
}

.nav button {
    background-image: linear-gradient(to bottom right, #462523 0, #cb9b51 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
    color: #141414;
    font-family: XiaoWei;
    height: 2.5rem;
    border: none;
    font-weight: 550;
    font-size: 1.5rem;
}

.nav button:hover {
    background-image: linear-gradient(to bottom right, #462523 5%, #cb9b51 25%, #f6e27a 40%, #f6f2c0 30%, #f6e27a 55%, #cb9b51 78%, #462523 100%);
    font-weight: 900;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.center button {
    float: none;
}

.right {
    float: right;
}

button {
    background-color: black;
    color: white;
    font-family: XiaoWei;
    border: none;
    height: 2rem;
    font-size: 18px;
    width: fit-content;
    justify-self: center;
}

button:hover {
    background-color: #d4af37;
    color: #000000;
    font-weight: 600;

}

#home {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 1rem;
    font-size: 130%;
}

.pastry-item {
    text-align: center;
    padding: .5rem;
    width: 20rem;
    height: 35rem;
    display: inline-grid;
    margin: 1rem 1rem;
}

.item-image {
    justify-self: center;
    height: 165px;
    width: 250px;
    object-fit: cover;
    border: black solid 1.5px;
}

.item-image:hover {
    box-shadow: 0 0 30px 1px #ffffff
}

.cart-item {
    margin: .5rem .5rem;
    width: 50%;
    display: flex;
    align-items: center;
}

.cart-img {
    height: 6rem;
    width: 8rem;
    text-align: center;
    padding-right: 4rem;
}

.priceQ {
    min-width: 12rem;
}

.cartP1 {
    line-height: 10px;
    font-size: 1.2rem;
    min-width: 12rem;
}

.addremove {

    display: grid;
}


#form-container {
    display: block;
    text-align: center;
}

#checkout-form {
    text-align: center;
    justify-self: center;

}

#contact-container {
    display: block;
    text-align: center;
}

#contact {
    display: inline-grid;
    text-align: left;
    width: 30rem;
    height: 15rem;
}
.pClass{
    font-size: 120%;
}